extends layout

include topic
include comments

block content
  +topic("Paper", "Jun 23, 2015", "3 comments", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.")
  - var comments = [{"identity": "psr", "date":"23 Jun, 2015", "comment": "this is good"}, {"identity": "psr2", "date":"23 Jun, 2015", "comment": "also think this is good"}]
  +comments(comments)